<section class="products container" *ngIf="products?.data.length > 0">
  <div class="products__filter">
    <app-filter-bar></app-filter-bar>
  </div>

  <div class="row">
    <div class="col-2 sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-10">
      <div class="row">
      <div class="col-3" *ngFor="let product of products.data | paginate : {itemsPerPage: 8, currentPage: p}">
      <app-product-item [product]="product"></app-product-item>
      </div>
      </div>
    </div>
  </div>

  <div
    class="product__pagination mt-4 mt-xl-5"
    *ngIf="products.list_Page.length > 1"
  >
<!--    <app-pagination-->
<!--      [pages]="products"-->
<!--      [rootPath]="rootPath"-->
<!--      (onPageChange)="changePage($event)"-->
<!--    ></app-pagination>-->
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</section>
