<section class="products container" *ngIf="products?.length > 0">
  <div class="products__filter">
    <app-filter-bar></app-filter-bar>
  </div>

  <div class="row">
    <div class="col-2 sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-10">
      <div class="row">
        <div class="product__item mt-5 col-3 col-xl-3" *ngFor="let product of products | paginate : {itemsPerPage: 8, currentPage: p}">
          <app-product-item [product]="product"></app-product-item>
        </div>
      </div>
    </div>
  </div>

  <div
    class="product__pagination mt-4 mt-xl-5"
    *ngIf="true"
  >
<!--    <app-pagination-->
<!--      [pages]="products"-->
<!--      [rootPath]="rootPath"-->
<!--      (onPageChange)="changePage($event)"-->
<!--    ></app-pagination>-->
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</section>
