<section class="general-banner container-fluid {{ classAdd }}"
  style="background-image: url('{{ background ? background : defaultBackground }}');"
>
  <div class="container">
    <div class="wrapper">
      <h3 class="general-banner__title">{{ title }}</h3>

      <div class="general-banner__action">
        <h3 class="general-banner__action__name">styletools</h3>
        <div class="general-banner__action__link">
          <a href="" class="button button--secondary">
            <span class="link-name">watch overview</span>
            <mat-icon class="link-icon">play_circle</mat-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>