<div class="rooms-item h-100">
  <div class="content h-100">
    <div class="content__image h-100">
      <img 
        [src]="room.src" 
        [alt]="room.name"
      >
    </div>
    <div class="content__info">
      <div class="content__info__name">
        <span>{{ room.name }}</span>
        <span>lavis decor</span>
      </div>
      <div class="content__info__action">
        <mat-icon class="action-icon">favorite</mat-icon>
      </div>
    </div>
    <div class="content__overlay">
      <a 
        (click)="showPreview()"
        class="content__overlay__link"
      >
        <mat-icon class="overlay-icon">visibility</mat-icon>
        <span class="overlay-title">preview</span>
      </a>
    </div>
  </div>
</div>