<div class="trending-product container-fluid">
  <div class="wrapper container p-0">
    <div class="trending-product__title">
      <h3>Sách bán chạy</h3>
    </div>
    <div class="trending-product__wrapper row mt-5">
      <div class="trending-product__item col-6 col-xl-3"
        *ngFor="let product of trendingProducts"
      >
        <app-product-item
          [product]="product"
        ></app-product-item>
      </div>
    </div>
    <div class="trending-product__load-more">
      <a routerLink="/products" class="button button--primary">Xem tất cả sản phẩm</a>
    </div>
  </div>
</div>
