<div class="card sidebar">
  <article class="card-group-item">
    <header class="card-header sidebar_header">
      <h6 class="title"> Tìm kiếm theo giá </h6>
    </header>
    <div class="filter-content">
      <div class="card-body sidebar_body">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Từ</label>
            <input type="number" class="form-control" id="inputEmail4" placeholder="$0">
          </div>
          <div class="form-group col-md-6 text-right">
            <label>Đến</label>
            <input type="number" class="form-control" placeholder="$1,0000">
          </div>
        </div>
      </div> <!-- card-body.// -->
    </div>
  </article> <!-- card-group-item.// -->
  <article class="card-group-item">
    <header class="card-header">
      <h6 class="title"> TÌm theo danh mục </h6>
    </header>
    <div class="filter-content">
      <div class="card-body sidebar_body">
        <mat-form-field appearance="outline">
          <mat-label>Thể loại</mat-label>
          <mat-select (valueChange)="changeCategory($event)" value="default">
            <mat-option value="default">Tất cả</mat-option>
            <mat-option
              *ngFor="let category of this.categories"
              [value]="category.id"
            >
              {{ category.categoryName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div> <!-- card-body.// -->
    </div>
    <header class="card-header sidebar_header">
      <h6 class="title"> Sắp xép theo giá </h6>
    </header>
    <div class="filter-content">
      <div class="card-body sidebar_body">
        <div class="filter__sort" style="margin-right: 40px">
          <mat-form-field appearance="outline">
            <mat-label>Thể loại</mat-label>
            <mat-select (valueChange)="changeCategory($event)" value="default">
              <mat-option value="default">Tất cả</mat-option>
              <mat-option
                *ngFor="let category of this.categories"
                [value]="category.id"
              >
                {{ category.categoryName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div> <!-- card-body.// -->
    </div>
  </article> <!-- card-group-item.// -->
</div> <!-- card.// -->

