.sidebar{
  background-color: white;
  border-color: white;
}
.sidebar_header{
  background-color: white;
  border: white;
}
.sidebar_body{
  padding: 0;
}
.title{
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
