<div class="container">
  <form class="was-validated" (ngSubmit)="createOrder()" [formGroup]="addressForm">
    <div class="wrap row">
      <div class="main col-12 col-lg-7">
        <div class="main__content">
          <div class="row">
            <div class="col-lg-12">
              <section class="section">
                <div class="section__header mb-3">
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <h2 class="m-0">Thông tin nhận hàng</h2>
                    <a
                      *ngIf="!this.tokenService.getUserId()"
                      [routerLink]="['/login']"
                      routerLinkActive="router-link-active"
                    >Đăng nhập</a
                    >
                    <a
                      *ngIf="true"
                      [routerLink]="['/user', 'address', 'add']"
                      routerLinkActive="router-link-active"
                    >Thêm địa chỉ</a
                    >
                  </div>
                </div>

                <div class="section__content form-row">
<!--                  <div-->
<!--                    class="form-group col-12"-->
<!--                    *ngIf="true"-->
<!--                  >-->
<!--                    <label for="addresses" class="form-control-label"-->
<!--                    >Chọn địa chỉ:-->
<!--                    </label>-->
<!--                    <select-->
<!--                      #addressSelect-->
<!--                      (change)="selectAddress()"-->
<!--                      id="addresses"-->
<!--                      class="form-control"-->
<!--                      formControlName="userAddressId"-->
<!--                      [(ngModel)]="addressSelected.id"-->
<!--                    >-->
<!--                      <option-->
<!--                        *ngFor="let address of this.addressList"-->
<!--                        [value]="address.id"-->
<!--                      >-->
<!--                        {{address.street_Address}}-->
<!--                        {{ address.ward.name}}-->
<!--                        {{ address.ward.districtAddress.districtName }} {{ address.ward.districtAddress.cityAddress.cityName }}-->
<!--                      </option>-->
<!--                    </select>-->
<!--                  </div>-->
                  <div class="form-group col-12">
                    <label class="form-control-label">Họ và tên: </label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Họ và tên"
                      formControlName="name"
                      [value]="addressSelected?.name"
                      pattern="^[a-zA-Z_ÀÁÂÃÈÉÊẾÌÍÒÓÔÕUÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễếệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ_ ]{3,30}$"
                      required
                    />
                  </div>
                  <div class="invalid-feedback">Tên không hợp lệ</div>
                  <div class="form-group col-md-6">
                    <label  class="form-control-label">Email: </label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Email"
                      formControlName="email"
                      pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
                      required
                    />
                    <div class="invalid-feedback">Email không hợp lệ.</div>
                  </div>
                  <div class="form-group col-md-6">
                    <label  class="form-control-label"
                    >Số điện thoại:
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Số điện thoại"
                      formControlName="phone"
                      [value]="addressSelected?.phone"
                      pattern="^[0-9]{10,12}$"
                      required
                    />
                    <div class="invalid-feedback">Số điện thoại không hợp lệ.</div>
                  </div>
                  <div class="form-group col-md-4">
                    <label class="form-control-label"
                    >Tỉnh/Thành phố:
                    </label>
                    <select
                      title="Chọn Tỉnh/Thành phố"
                      formControlName="cityAddressId"
                      class="form-control provinceSelectPicker"
                      data-live-search="true"
                      (change)="changeProvince($event.target.value)"
                      [(ngModel)]="addressSelected.cityAddressId"
                    >
                      <option
                        #provincesSelect
                        [value]="province.id"
                        *ngFor="let province of cityList "
                      >
                        {{ province.cityName }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label>Huyện/Quận :</label>
                    <select
                      formControlName="districtAddressId"
                      class="form-control districtSelectPicker"
                      data-live-search="true"
                      (change)="changeDistrict($event.target.value)"
                      [(ngModel)]="addressSelected.districtAddressId"
                    >
                      <option
                        #districtsSelect
                        [value]="district.id"
                        *ngFor="let district of districtList"
                      >
                        {{ district.districtName }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label>Phường/Xã :</label>
                    <select
                      formControlName="wardId"
                      class="form-control districtSelectPicker"
                      data-live-search="true"
                      [(ngModel)]="addressSelected.wardId"
                    >
                      <option
                        #districtsSelect
                        [value]="ward.id"
                        *ngFor="let ward of wardList"
                      >
                        {{ ward.name }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group col-12">
                    <label class="form-control-label">Địa chỉ: </label>
                    <textarea
                      formControlName="street_Address"
                      pattern="^[a-zA-Z0-9_ÀÁÂÃÈÉÊẾÌÍÒÓÔÕUÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễếệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ_ ]{3,}$"
                      class="form-control textarea"
                      rows="3"
                      [value]="addressSelected.street_Address"
                      required
                    ></textarea>
                    <div class="invalid-feedback">Địa chỉ không hợp lệ.</div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar col-12 col-lg-5">
        <div class="sidebar__header">
          <h2>Đơn hàng ({{ this.getSumCart() }} sản phẩm)</h2>
        </div>
        <div class="sidebar__content">
          <div class="order__product">
            <ul class="order__product-list mb-3" *ngIf="true">
              <li class="order-item" *ngFor="let line of []">
                <a
                  [routerLink]="[
                    '/',
                    line.product.slug + '-p' + line.product.id
                  ]"
                  class="order-link"
                >
                  <div class="product-info col-12 col-md-10">
                    <div class="product-info__img">
                      <img
                        src="{{ line.product.default_image}}"
                        alt="{{ line.product.name }}"
                      />
                      <span>{{ line.quantity }}</span>
                    </div>

                    <div class="product-info__brief">
                      <h3 class="brief-title">
                        {{ line.product.name }}
                      </h3>
                      <span class="brief-variant">{{ line.variant.name }}</span>
                    </div>
                  </div>

                  <div class="price col-12 col-md-2">
                    <span class="current-price"
                    >{{ line.subtotal | formatPrice }}đ</span
                    >
                  </div>
                </a>
              </li>
            </ul>
            <div class="order__product-discount mb-3">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nhập mã giảm giá"
                  aria-label="Nhập mã giảm giá"
                  aria-describedby="Nhập mã giảm giá"
                  #voucher
                  disabled
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary"
                    type="button"
                    (click)="addVoucher(voucher)"
                    disabled
                  >
                    Áp dụng
                  </button>
                </div>
              </div>
            </div>
            <div class="order__product-summary mb-3">
              <div class="d-flex justify-content-between pb-3">
                <span>Tạm tính</span>
                <span style="font-size: 18px"
                >{{ this.getTotalPrice() | formatPrice }}đ</span
                >
              </div>
              <div class="d-flex justify-content-between pb-3">
                <span>Giảm giá</span>
                <span style="font-size: 18px"
                >{{ 0| formatPrice }}đ</span
                >
              </div>
              <div class="d-flex justify-content-between pb-3">
                <span>Phí vận chuyển</span>
                <span style="font-size: 18px"
                >{{ 0 | formatPrice }}đ</span
                >
              </div>
            </div>
            <div class="order__product-total">
              <div class="d-flex justify-content-between pb-3">
                <span>Tổng cộng</span>
                <span class="price"
                >{{ this.getTotalPrice() | formatPrice }} đ</span
                >
              </div>
              <hr style="margin-top: 0">
              <div class="d-flex justify-content-between pb-3">
                <span>Thanh toán qua</span>
              </div>
              <mat-radio-group (change)="changeOption($event.value)"
                aria-labelledby="example-radio-group-label"
                class="example-radio-group">
                <mat-radio-button class="example-radio-button" checked value="0">Thanh toán khi nhận hàng</mat-radio-button>
                <mat-radio-button class="example-radio-button" value="1">Thanh toán bằng Stripe</mat-radio-button>
              </mat-radio-group>
              <div
                *ngIf="false"
                style="color: red; font-size: 13px"
                class="mb-3 text-right"
              >
                Vui lòng cập nhật địa chỉ nhận hàng để tiến hành đặt hàng.
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <a
                  [routerLink]="['/cart']"
                  routerLinkActive="router-link-active"
                >Quay về giỏ hàng</a
                >
                <button
                  type="submit"
                  class="btn btn-primary"
                >
                  Đặt hàng
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
