@import '../../../variables';
.content-page{
  margin-top: 100px;
  margin-bottom: 50px;
}
.menu {
  padding-right: 20px;
  margin-top: 100px;
  margin-bottom: 50px;

  .icon-menu {
    font-size: 22px;
    cursor: pointer;
  }

  .list-group.open {
    display: block;
  }

  .list-group-item {
    cursor: pointer;

    &:hover {
      background-color: $aqua-blue;
    }
  }
}

@media screen and (max-width: 1023px) {
  .list-group {
    display: none;
  }
}
