<div class="mb-4 d-flex justify-content-between align-items-center">
  <h3>Sổ địa chỉ</h3>
  <button class="btn btn-primary" [routerLink]="['/user', 'address', 'add']">
    Thêm địa chỉ
  </button>
</div>

<div class="address" *ngIf="(service.addresses$ | async)">
  <div
    class="card"
    *ngFor="let address of (service.addresses$ | async).addresses"
  >
    <div class="card-body">
      <h5 class="card-title">{{ address.name }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ address.phone }}</h6>
      <p class="card-text">
        {{ address.street_Address }}, {{ address.districtAddress.districtName }},
        {{ address.cityAddress.cityName }}
      </p>
      <div class="text-right">
        <button
          [routerLink]="['/user', 'address', address.id]"
          routerLinkActive="router-link-active"
          class="card-link btn btn-warning"
        >
          Sửa
        </button>
        <button (click)="delete(address.id)" class="card-link btn btn-danger">
          Xóa
        </button>
      </div>
    </div>
  </div>
</div>
