.address {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

@media screen and (max-width: 767px) {
    .address {
        display: block;
        .card {
            margin-bottom: 20px;
        }
    }
}