<div class="banner container-fluid p-0">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="banner-slide col-12 p-0">
        <div class="banner-slide__wrapper">
          <img onerror="this.style.display='none'"
            src="assets/images/banners/2.jpg"
            alt="Reading Book Banner"
          >
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="banner-slide col-12 p-0">
        <div class="banner-slide__wrapper">
          <img onerror="this.style.display='none'"
            src="assets/images/banners/4.jpg"
            alt="Book Banner"
          >
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="banner-slide col-12 p-0">
        <div class="banner-slide__wrapper">
          <img onerror="this.style.display='none'"
            src="assets/images/banners/5.jpg"
            alt="Book Banner"
          >
        </div>
        <div class="banner-slide__text banner-slide__text--custom">
          <div class="banner-slice__action"></div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>
