<div class="banner container-fluid p-0">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="banner-slide col-12 p-0">
        <div class="banner-slide__wrapper">
          <img onerror="this.style.display='none'"
            src="assets/images/banners/1.jpg" 
            alt="Lavis Decor Banner"
          >
        </div>
      </div> 
    </ng-template>  

    <ng-template carouselSlide>
      <div class="banner-slide col-12 p-0">
        <div class="banner-slide__wrapper">
          <img onerror="this.style.display='none'"
            src="assets/images/banners/2.jpg" 
            alt="Lavis Decor Banner"
          >
        </div>
        <div class="banner-slide__text">
          <h3>new arrivals</h3>
          <div class="banner-slice__action">
            <a routerLink="" 
              class="button button--secondary"
            >discover collection</a>
          </div>
        </div>
      </div>
    </ng-template> 

    <ng-template carouselSlide>
      <div class="banner-slide col-12 p-0">
        <div class="banner-slide__wrapper multi-image">
          <img onerror="this.style.display='none'"
            src="assets/images/banners/3.png" 
            alt="Lavis Decor Banner"
          >
          <img onerror="this.style.display='none'"
            src="assets/images/banners/9.jpg" 
            alt="Lavis Decor Banner"
          >
        </div>
        <div class="banner-slide__text banner-slide__text--custom">
          <span>introducing</span>
          <h3>cala</h3>
          <div class="banner-slice__action">
            <a routerLink="" 
              class="button button--secondary button--black"
            >shop collection</a>
          </div>
        </div>
      </div>
    </ng-template> 

    <ng-template carouselSlide>
      <div class="banner-slide col-12 p-0">
        <div class="banner-slide__wrapper">
          <img onerror="this.style.display='none'"
            src="assets/images/banners/4.jpg" 
            alt="Lavis Decor Banner"
          >
        </div>
        <div class="banner-slide__text banner-slide__text--custom">
          <span>introducing</span>
          <h3>lillian</h3>
          <div class="banner-slice__action">
            <a routerLink="" 
              class="button button--secondary button--black"
            >shop collection</a>
          </div>
        </div>
      </div>
    </ng-template> 

    <ng-template carouselSlide>
      <div class="banner-slide col-12 p-0">
        <div class="banner-slide__wrapper">
          <img onerror="this.style.display='none'"
            src="assets/images/banners/5.jpg" 
            alt="Lavis Decor Banner"
          >
        </div>
        <div class="banner-slide__text banner-slide__text--custom">
          <p>Creater of the World's Most Fabulous Lifestyles</p>
          <div class="banner-slice__action">
            <a routerLink="" 
              class="button button--secondary"
            >shop collection</a>
          </div>
        </div>
      </div>
    </ng-template> 

    <ng-template carouselSlide>
      <div class="banner-slide col-12 p-0">
        <div class="banner-slide__wrapper">
          <img onerror="this.style.display='none'"
            src="assets/images/banners/6.jpg" 
            alt="Lavis Decor Banner"
          >
        </div>
        <div class="banner-slide__text banner-slide__text--custom">
          <span class="span--white">all great things start with an</span>
          <h3>idea</h3>
          <div class="banner-slice__action">
            <a routerLink="" 
              class="button button--secondary"
            >shop collection</a>
          </div>
        </div>
      </div>
    </ng-template> 

    <ng-template carouselSlide>
      <div class="banner-slide col-12 p-0">
        <div class="banner-slide__wrapper">
          <img onerror="this.style.display='none'"
            src="assets/images/banners/7.jpg" 
            alt="Lavis Decor Banner"
          >
        </div>
        <div class="banner-slide__text banner-slide__text--custom">
          <p>Discover the World's Finest Craftspeople</p>
          <div class="banner-slice__action">
            <a routerLink="" 
              class="button button--secondary"
            >how it's made</a>
          </div>
        </div>
      </div>
    </ng-template>
    
          <ng-template carouselSlide>
            <div class="banner-slide col-12 p-0">
              <div class="banner-slide__wrapper">
                <img onerror="this.style.display='none'"
                  src="assets/images/banners/8.jpg" 
                  alt="Lavis Decor Banner"
                >
              </div>
              <div class="banner-slide__text banner-slide__text--custom">
                <p>Carving out a Piece of History</p>
                <div class="banner-slice__action">
                  <a routerLink="" 
                    class="button button--secondary"
                  >discover the cg story</a>
                </div>
              </div>
            </div>
          </ng-template>
  </owl-carousel-o>
</div>