<section class="quote container-fluid pl-0 pr-0">
  <div class="quote__header mt-4 d-md-none">
    <h3>meet lavis decor</h3>
  </div>
  <owl-carousel-o 
    [options]="customOptions"
    class="quote__carousel"
  >
    <ng-template carouselSlide>
      <div class="quote-slide">
        <picture>
          <img 
            src="assets/images/brand/quote/decor-bg.jpg" 
            alt="Quote Decor"
            loading="lazy"
          >
        </picture>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="quote-slide">
        <picture>
          <img 
            src="assets/images/brand/quote/decor-bg-2.jpg" 
            alt="Quote Decor"
            loading="lazy"
          >
        </picture>
      </div>
    </ng-template>
  </owl-carousel-o>
  <div class="quote-content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-xl-8">
          <div class="quote__wrapper">
            <div class="quote__wrapper__author">
              <h3>mr lavis</h3>
            </div>
            <div class="quote__wrapper__content">
              <p>
                lavis Decor first became inspired by the 
                world of decorative style while growing 
                up in the 1970s along the shoreline of 
                the French Riviera. Here Christopher 
                became fascinated with the elegance 
                intrinsic to French design, which he sees 
                as "an effortless form that is beyond beauty".
              </p>
              <p>
                in the years since then, a singular vision 
                and uncompromising sense of style, along 
                with an ongoing pursuit for elegance in 
                every piece he designs, have driven Lavis 
                to continually redefine the aesthetics of 
                design. The result is a place at the 
                forefront of the world's luxury furnishings 
                market.
              </p>
              <p>
                An international lifestyle allows Lavis to 
                view the world through a critically 
                constructive eye that draws inspiration from 
                everything he admires, translating into design 
                elements that form the bedrock of today's Lavis 
                vast collection. Above all else, Lavis's 
                unique work is characterized by elegance, which 
                forms the DNA of each design and is central to 
                the philosophy of the brand.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>