@import '../../../../../assets/scss/variable';
@import '../../../../../assets/scss/shared';

.quote {
  background-color: $secondary-background;
  position: relative;
  &__carousel {
    .quote-slide {
      picture {
        img {
          width: 100%;
          height: 100vh;
          object-fit: cover;
          object-position: center;
          @media screen and (max-width: $tablet) {
            object-position: left;
          }
        }
      }
    }
  }
  .quote-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    --padding: 80px;
    padding-top: var(--padding);
    padding-bottom: var(--padding);
  }
  &__wrapper {
    &__author {
      h3 {
        animation: slideToBottom ease 1.25s;
        backface-visibility: hidden;
        transition: ease 1.25s;
        letter-spacing: $letter-spacing;
        @include text-style($secondary-text, 66px, 120%, 300, center, capitalize, '');
      }
    }
    &__content {
      transition: ease 1s;
      animation: slideToBottom ease 1s;
      backface-visibility: hidden;
      margin-top: 40px;
      p {
        transition: ease 0.5s;
        animation: slideToBottom ease 0.5s;
        backface-visibility: hidden;
        & + p { margin-top: 30px; }
        letter-spacing: $letter-spacing;
        @include text-style($secondary-text, 16px, 150%, 300, left, '', capitalize);
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .quote {
    &__header {
      position: absolute;
      z-index: 2;
      left: 0;
      right: 0;
      top: 40px;
      background-color: transparent;
      h3 {
        letter-spacing: $letter-spacing;
        @include text-style($secondary-text, 12px, 150%, 700, center, uppercase, '');
      }
    }
    &__carousel {
      .quote-slide {
        picture {
          img { height: auto; }
        }
      }
    }
    .quote-content {
      position: relative;
      --padding: 40px;
    }
    &__wrapper {
      &__author {
        h3 { font-size: 48px; }
      }
      &__content {
        margin-top: 30px;
        p { 
          font-size: 14px; 
          & + p { margin-top: 20px; }
        }
      }
    }
  }
}