$text-color: #333;

$black: #212121;
$black-gray: #0f0f0f;
$black-light: rgba(0, 0, 0, 0.3);

$blue: #0165b9;
$aqua-blue: #099AD0;

$white: #ffffff;

$orange: #FF7C00;
$orange-active: #E6543B;

$red: #f72b3f;

$green: #30a43b;
