<div class="product">
  <a [routerLink]="['/products/item', slug, product.id]" class="product__image">
    <img
      [src]="path + product.mainImage"
      [alt]="product.bookName"
    >
  </a>
  <h3 class="product__name">{{ product.bookName }}</h3>
  <div class="product__more-info">
    <div class="product__more-info__origin">
      <span class="origin-name">{{product?.author?.authorName}}</span>
    </div>
    <span class="product__more-info__price">{{ product.price | formatPrice }} đ</span>
  </div>
</div>
