<div class="product">
  <a routerLink="" class="product__image">
    <img onerror="this.src='assets/images/no-img.jpg'"
      [src]="product.src" 
      [alt]="product.name"
    >
  </a>
  <h3 class="product__name">{{ product.name }}</h3>
  <div class="product__more-info">
    <div class="product__more-info__origin">
      <span class="origin-name">vietnam retail</span>
      <span class="origin-brief">from</span>
    </div>
    <span class="product__more-info__price">$ {{ product.price }}</span>
  </div>
</div>