<!-- <h2>LOGIN</h2>
<p>{{authService.isLoggedIn}}</p>
<p>
  <button (click)="login()"  *ngIf="!authService.isLoggedIn">Login</button>
  <button (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>
</p> -->

<section class="auth container-fluid">
  <div class="container">
    <div class="auth-wrapper row justify-content-center align-items-center">
      <div id="login" class="col-12 col-md-8 col-xl-5">
        <div class="auth__login">
          <div class="logo">
            <img
              src="assets/images/logo-no-title.png"
              alt="Lavis Decor"
            >
            <span class="logo__title">sign in or create account</span>
          </div>
          <div class="form-container">
            <form>
              <div class="form-groups">
                <input
                  type="text"
                  class="form-input"
                  placeholder="Username/Email"
                  #username
                >
              </div>
              <div class="form-groups">
                <input
                  type="password"
                  class="form-input"
                  placeholder="Password"
                  #password
                >
              </div>
              <div class="form-groups--check">
                <div class="check-box">
                  <input type="checkbox" id="check-box-input">
                  <label
                    for="check-box-input"
                    class="check-box__label"
                  >stay signed in</label>
                </div>
                <div class="forgot-pwd">
                  <a href="" class="forgot-pwd__link">forgot password?</a>
                </div>
              </div>
              <button
                (click)="login(username.value,password.value)"
                *ngIf="!authService.isLoggedIn"
                type="button"
                class="btn btn-block btn-primary form-button"
              >Submit</button>
            </form>
            <div class="direction-to-register">
              <span class="direction-to-register__title">
                don't you have a Lavis account?
              </span>
              <a (click)="toggleChangeForm()"
                class="direction-to-register__link"
              >join now and enjoy all website features</a>
            </div>
          </div>
          <div class="footer">
            <div class="footer-wrapper">
              <span class="footer__title">lavis decor</span>
              <span class="footer__sub-title">interior designer program</span>
              <a (click)="toggleChangeForm()"
                class="button button--primary footer__action"
              >discover pro account</a>
            </div>
          </div>
        </div>
      </div>
      <div id="register"
        class="register col-12 col-md-8 col-xl-7 p-0"
      >
        <div class="register__container">
          <div class="register__header">
            <h3>create an account</h3>
          </div>
          <div class="register__form">
            <form>
              <div class="group group--separate">
                <label>
                  <input
                    type="text"
                    placeholder="First name"
                  >
                </label>
                <label>
                  <input
                    type="text"
                    placeholder="Last name"
                  >
                </label>
              </div>
              <div class="group">
                <label>
                  <input
                    type="email"
                    placeholder="Email address"
                  >
                </label>
              </div>
              <div class="group group--separate">
                <input
                  type="password"
                  placeholder="Create password"
                >
                <input
                  type="password"
                  placeholder="Re-enter password"
                >
              </div>
              <div class="group group--dropdown">
                <select name="" class="w-100">
                  <option value="vietnam">việt nam</option>
                  <option value="america">america</option>
                  <option value="korea">korea</option>
                  <option value="japan">japan</option>
                </select>
                <div class="dropdown-icon">
                  <mat-icon class="arrow-icon">arrow_drop_down</mat-icon>
                </div>
              </div>
              <div class="group group--checkbox">
                <input type="checkbox" id="input-checkbox">
                <label
                  for="input-checkbox"
                  class="checkbox-label"
                >
                  i'd like to receive promotions, surveys, and
                  updates via email about Lavis Decor and its partners.
                </label>
              </div>
              <button
                class="btn btn-block btn-primary create-button"
              >create free account</button>
            </form>
          </div>
          <div class="register__note">
            <span class="register__note__txt w-100">
              by registering, you agree to Lavis Decor's
            </span>
            <span class="register__note__action w-100">
              <a href="" class="terms-link">Terms of Services</a>
              and
              <a href="" class="privacy-link">privacy policy</a>
            </span>
          </div>
        </div>
        <div class="register__direction">
          <a (click)="toggleChangeForm()"
            class="register__direction__link"
          >already have an Lavis account? Sign in</a>
        </div>
      </div>
    </div>
  </div>
  <div class="close-action">
    <a class="close-action__link"
      (click)="toggleDisplayCall()"
    >
      <mat-icon class="close-icon">close</mat-icon>
    </a>
  </div>
</section>
