<div class="mb-4">
  <h3>Thêm địa chỉ</h3>
</div>

<form [formGroup]="addressForm" (ngSubmit)="submitAddress()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="name">Họ và tên:</label>
      <input
        formControlName="name"
        type="text"
        class="form-control"
        id="name"
        placeholder="Họ và tên"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="phone">Số điện thoại:</label>
      <input
        type="text"
        formControlName="phone"
        class="form-control"
        id="phone"
        placeholder="Số điện thoại"
      />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="address" class="form-control-label">Tỉnh/Thành phố:</label>
      <select
        title="Chọn Tỉnh/Thành phố"
        formControlName="cityAddressId"
        class="form-control provinceSelectPicker"
        data-live-search="true"
        (change)="changeProvince($event.target.value)"
        [value]="address.cityAddressId"
      >
        <option
          #provincesSelect
          [value]="city.id"
          *ngFor="let city of this.citys"
        >
          {{ city.cityName}}
        </option>
      </select>
    </div>

    <div class="form-group col-md-4">
      <label>Quận/Huyện:</label>
      <select
        [value]="address.districtAddressId"
        title="Chọn Quận/Huyện"
        formControlName="districtAddressId"
        class="form-control districtSelectPicker"
        id="select-country"
        data-live-search="true"
        (change)="changeDistrict($event.target.value)"
      >
        <option
          #districtsSelect
          [value]="district.id"
          *ngFor="let district of districts"
        >
          {{ district.districtName }}
        </option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label>Phường/Xã:</label>
      <select
        [value]="address.wardId"
        title="Chọn Quận/Huyện"
        formControlName="wardId"
        class="form-control districtSelectPicker"
        id="select-country"
        data-live-search="true"
      >
                <option
                  #districtsSelect
                  [value]="ward.id"
                  *ngFor="let ward of wards"
                >
                  {{ ward.name }}
                </option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12">
      <label for="address">Địa chỉ:</label>
      <textarea
        formControlName="street_Address"
        type="text"
        id="address"
        class="form-control"
        rows="3"
        placeholder="Địa chỉ"
      ></textarea>
    </div>
  </div>
  <div class="mt-4 text-right">
    <button
      [disabled]="!addressForm.valid"
      type="submit"
      class="btn btn-primary"
    >
      Cập nhật địa chỉ
    </button>
  </div>
</form>
