<div class="mb-4">
  <h3>Thêm địa chỉ</h3>
</div>

<form class="was-validated" [formGroup]="addressForm" (ngSubmit)="submitAddress()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="name">Họ và tên:</label>
      <input
        formControlName="name"
        pattern="^[a-zA-Z_ÀÁÂÃÈÉÊẾÌÍÒÓÔÕUÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễếệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ_ ]{3,30}$"
        type="text"
        class="form-control"
        id="name"
        placeholder="Họ và tên"
        required
      />
      <div class="invalid-feedback">Tên không hợp lệ.</div>
    </div>
    <div class="form-group col-md-6">
      <label for="phone">Số điện thoại:</label>
      <input
        type="text"
        formControlName="phone"
        class="form-control"
        id="phone"
        pattern="^[0-9]{10,12}$"
        placeholder="Số điện thoại"
        required
      />
      <div class="invalid-feedback">Số điện thoại không hợp lệ.</div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Tỉnh/Thành phố:</label>
      <div class="select">
        <select title="Chọn Tỉnh/Thành phố"
                formControlName="cityAddressId"
                class="form-control provinceSelectPicker"
                data-live-search="true"
                (change)="changeProvince($event.target.value)"
                [value]="address.cityAddressId">
          <option
            class="city"
            #provincesSelect
            [value]="city.id"
            *ngFor="let city of this.citys"
          >
            {{ city.cityName}}
          </option>
        </select>
        <span class="focus"></span>
      </div>
    </div>

    <div class="form-group col-md-4">
      <label>Quận/Huyện:</label>
      <div class="select">
        <select [value]="address.districtAddressId"
                title="Chọn Quận/Huyện"
                formControlName="districtAddressId"
                class="form-control districtSelectPicker"
                data-live-search="true"
                (change)="changeDistrict($event.target.value)">
        <option
          #districtsSelect
          [value]="district.id"
          *ngFor="let district of districts"
        >
          {{ district.districtName }}
        </option>
        </select>
        <span class="focus"></span>
      </div>
    </div>
<!--    <div class="form-group col-md-4">-->
<!--      <label>Quận/Huyện:</label>-->
<!--      <select-->
<!--        [value]="address.districtAddressId"-->
<!--        title="Chọn Quận/Huyện"-->
<!--        formControlName="districtAddressId"-->
<!--        class="form-control districtSelectPicker"-->
<!--        id="select-country"-->
<!--        data-live-search="true"-->
<!--        (change)="changeDistrict($event.target.value)"-->
<!--      >-->
<!--        <option-->
<!--          #districtsSelect-->
<!--          [value]="district.id"-->
<!--          *ngFor="let district of districts"-->
<!--        >-->
<!--          {{ district.districtName }}-->
<!--        </option>-->
<!--      </select>-->
<!--    </div>-->

    <div class="form-group col-md-4">
      <label>Phường/Xã:</label>
      <div class="select">
        <select [value]="address.wardId"
                title="Chọn Quận/Huyện"
                formControlName="wardId"
                class="form-control districtSelectPicker"
                id="select-country"
                data-live-search="true">
          <option
            #districtsSelect
            [value]="ward.id"
            *ngFor="let ward of wards"
          >
            {{ ward.name }}
          </option>
        </select>
        <span class="focus"></span>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12">
      <label for="address">Địa chỉ:</label>
      <input
        formControlName="street_Address"
        pattern="^[a-zA-Z0-9_ÀÁÂÃÈÉÊẾÌÍÒÓÔÕUÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễếệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ_ ]{3,}$"
        type="text"
        id="address"
        class="form-control"
        rows="3"
        placeholder="Địa chỉ"
        required
      />
      <div class="invalid-feedback">Địa chỉ không hợp lệ.</div>
    </div>
  </div>
  <div class="mt-4 text-right">
    <button
      [disabled]="!addressForm.valid"
      type="submit"
      class="btn btn-primary"
    >
      Cập nhật địa chỉ
    </button>
  </div>
</form>
