@import '../../../../../assets/scss/variable';
@import '../../../../../assets/scss/shared';

.category-banner { 
  padding-top: 15px; 
  padding-bottom: 15px; 
  animation: slideToLeft ease 1s;
  transition: $primary-transition;
}