@import '../../../../assets/scss/variable';
@import '../../../../assets/scss/shared';

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 5px solid $hover-background;
  background-color: $black;
  > div { max-width: $max-width-container; }
}