<div class="section-subscribe row h-100">
  <div class="col-12 col-md-6 col-xl-12">
    <div class="footer__subscribe">
      <h3 class="footer__subscribe__title">subscribe</h3>
      <form action="" id="footer-subscribe">
        <div class="input-group mb-3">
          <input type="text" 
            class="form-control" 
            placeholder="Enter your email for updates" 
            aria-label="Enter your email for updates" 
            aria-describedby="basic-addon2"
          >
          <div class="input-group-append">
            <button type="button"
              class="btn btn-outline-secondary" 
            >
              <mat-icon class="subscribe-icon">arrow_forward_ios</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-12 mt-5 mt-xl-0">
    <div class="footer__social">
      <ul class="footer__social__list">
        <li>
          <a routerLink="/">
            <mat-icon class="social-icon">facebook</mat-icon>
          </a>
        </li>
        <li>
          <a routerLink="/">
            <mat-icon class="social-icon">favorite</mat-icon>
          </a>
        </li>
        <li>
          <a routerLink="/">
            <mat-icon class="social-icon">feedback</mat-icon>
          </a>
        </li>
        <li>
          <a routerLink="/">
            <mat-icon class="social-icon">help</mat-icon>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__copyright">
      <p class="footer__copyright__info">
        &copy;
        lavis decor 
        {{ currentYear }} 
        all rights reserved
      </p>
    </div>
  </div>
</div>