<section class="how-its-work container-fluid">
  <div class="alert d-md-none">
    <h3>our ateliers</h3>
  </div>
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-12 col-xl-6">
      <div class="title">
        <h3>how it is crafted</h3>
      </div>
      <ul class="crafted-list">
        <li>
          <a href="#">
            <mat-icon class="craft-icon">fingerprint</mat-icon>
            <span>mirrors</span>
          </a>
        </li>
        <li>
          <a href="#">
            <mat-icon class="craft-icon">polymer</mat-icon>
            <span>mosaics</span>
          </a>
        </li>
        <li>
          <a href="#">
            <mat-icon class="craft-icon">auto_graph</mat-icon>
            <span>upholstery</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>